.container__aboutVisual {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 74.078rem;
  margin: auto;
  margin-top: 8.568rem;
}

.allPhotos-firstRow {
  display: flex;
  gap: 1.297rem;
}

.allPhotos-secondRow {
  display: flex;
  gap: 1.297rem;
}

.allPhotos__container {
  display: flex;
  flex-direction: column;
  gap: 1.297rem;
  position: absolute;
}

.rectangleDecoration {
  width: 38.438rem;
  height: 25.813rem;
  background: var(--purple);
  align-self: flex-end;
  z-index: -1;
  margin-top: 3rem;
}
